<footer class="site-footer">
  <div class="container">
    <div class="site-footer__divider"></div>

    <div class="site-footer__info">
      <div class="site-footer__block">
        <span class="site-footer__icon">
          <svg style="width: 20px; height: 20px; fill: rgb(245, 245, 245)">
            <use xlink:href="#templates/_global/popular/5"></use>
          </svg>
        </span>
        <a href="tel:+14073223568">407-322-3568</a>
      </div>
      <div class="site-footer__block">
        <span class="site-footer__icon">
          <svg style="width: 20px; height: 20px; fill: rgb(245, 245, 245)">
            <use xlink:href="#templates/_global/popular/3"></use>
          </svg>
        </span>
        485 Old Western Trail<br />
        Sanford, FL 32773
      </div>
      <div class="site-footer__block">
        <span class="site-footer__icon">
          <svg style="width: 20px; height: 20px; fill: rgb(245, 245, 245)">
            <use xlink:href="#icons:8168"></use>
          </svg>
        </span>
        Mon - Fri: 8:00am - 5:00pm<br />
        Weekends: Closed
      </div>
    </div>

    <div class="site-footer__divider"></div>

    <p class="site-footer__copyright">
      &copy; Hancock Plumbing Co Inc. All rights reserved.
    </p>
  </div>
</footer>
