<section class="reviews-heading">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="reviews-heading__title">
          <h2>
            Reviews from <span class="text-brand">satisfied clients</span>
          </h2>
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="reviews-heading__badge">
          <a href="{{ company.social.google_reviews }}" target="_blank" rel="noopener">
            <img src="/images/google-g.png" alt="Google Reviews" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
