<section class="reviews-heading">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h2 style="text-align: center">
          Reviews from
          <span class="text-brand">satisfied clients</span>
        </h2>
      </div>
      <div class="col-5">
        <a
          href="https://g.page/r/CWMo9_RcS6ykEBM/review"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/__static/production-webdotcom-4/534/1673534/sFhHq9Wy/68413bf7a5274b8da682c14983a9eee2"
            alt="Google Reviews"
            style="max-height: 82px; width: auto"
          />
        </a>
      </div>
    </div>
  </div>
</section>
