<section class="section section--reliable">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <img
          src="{{ service.image }}"
          alt="{{ service.image_alt }}"
        />
        <p class="reliable__intro">
          {{ service.intro }}
        </p>
      </div>
      <div class="col-1"></div>
      <div class="col-6">
        <h1>{% if service.heading_highlight %}<span class="text-brand">{{ service.heading_highlight }}</span><br />{% endif %}{{ service.heading }}</h1>

        <p style="margin-top: 15px">
          {{ service.description }}
        </p>

        <p style="margin-top: 15px">
          {{ service.offer_text }}
        </p>

        <div class="row reliable__bullets" style="margin-top: 20px">
          {% if service.bullets_left %}
          <div class="col-6">
            <div class="reliable__bullet-box">
              <ul>
                {% for bullet in service.bullets_left %}
                  <li>{{ bullet }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          {% if service.bullets_right %}
          <div class="col-6">
            <div class="reliable__bullet-box">
              <ul>
                {% for bullet in service.bullets_right %}
                  <li>{{ bullet }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </div>

        <h4 style="margin-top: 20px; text-align: center">
          {{ service.tagline }}
        </h4>
      </div>
    </div>
