<section class="section section--reliable">
  <div class="container">
    <div class="row col">
      <h1 style="margin:0 auto 40px">{{ service_heading }}</h1>
    </div>
    <div class="row">
      <div class="col-6">
        <img
          src="{{ service_image }}"
          alt="{{ service_image_alt | default: 'Plumbing Services' }}"
        />
      </div>
      <div class="col-6">
        {{ content }}
        <h4 class="reliable__tagline mt-20 text-center">
          35 + years of plumbing experience
        </h4>
      </div>
    </div>

    <div class="reliable__divider"></div>

    {% if cta %}
    <div class="mt-30 text-center">
      {{ cta | md }}
    </div>
    {% endif %}
  </div>
</section>
