<section class="why-choose">
  <div class="section__bg section__bg--faint">
    <img
      src="/images/why-choose-us-bg.jpg"
      alt=""
    />
  </div>
  <div class="container why-choose__container">
    <div class="row">
      <div class="col-7">
        <h2>Why <span class="text-brand">choose us</span></h2>
      </div>
    </div>
    {% unless hide_why_choose_intro %}
    <p class="why-choose__intro">
      At Hancock Plumbing Company, Inc, our team of experienced plumbers works
      with local homeowners and businesses to provide cost-effective plumbing
      solutions.
    </p>
    {% endunless %}
    <div class="why-choose__cards">
      <div class="why-choose__card">
        <h3>For commercial properties</h3>
        <ul>
          <li>
            <strong>Effective solutions:</strong> From office buildings to
            restaurants, we provide effective plumbing solutions tailored to the
            unique needs of commercial properties.
          </li>
          <li>
            <strong>Minimize disruption:</strong> We understand the importance
            of minimizing downtime for a business and work quickly and
            efficiently to complete projects with minimal disruption to your
            work.
          </li>
        </ul>
      </div>
      <div class="why-choose__card">
        <h3>For residential customers</h3>
        <ul>
          <li>
            <strong>Personalized service:</strong> Your home is your sanctuary
            and we treat it with the care it deserves. We offer personalized
            service to meet your plumbing needs and ensure the comfort and
            safety of your home.
          </li>
          <li>
            <strong>Quality Workmanship:</strong> Whether it's a minor repair or
            a major installation, we pride ourselves on providing quality
            workmanship that exceeds your expectations.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
