---
title: "About | Plumber | Sanford, FL | Hancock Plumbing Co. Inc."
permalink: /about-us/
description: "About Hancock Plumbing Co. Inc.: Call us at 407-322-3568 for exceptional Plumber service in Sanford, FL!"
layout: base
---
<main class="clean">
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <section class="hero hero--short">
    <div class="section__bg section__bg--dim">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="/__static/394b3b35-721a-449f-b4f1-c21e6ed5dd23/image_laptop"
        />
        <source
          media="(max-width: 1500px)"
          srcset="/__static/394b3b35-721a-449f-b4f1-c21e6ed5dd23/image_desktop"
        />
        <img
          src="/__static/production-webdotcom-4/534/1673534/sFhHq9Wy/f2ad0a384c1748afbcbbf893c617275c"
          alt="Plumbing tools"
        />
      </picture>
    </div>
    <div class="container">
      <h4 class="hero__company">Hancock Plumbing Co. Inc.</h4>
      <h1 class="hero__title">About Us</h1>
      <p class="hero__subtitle">
        Serving Sanford, FL, Volusia County, Orange &amp; Seminole County
      </p>
      <div class="hero__actions">
        <a href="tel:+14073223568" class="btn btn--primary">
          <svg class="icon"><use xlink:href="#templates/_global/popular/5"></use></svg>
          407-322-3568
        </a>
        <a href="/services/" class="btn btn--primary">
          <svg class="icon"><use xlink:href="#global/circle"></use></svg>
          See services
        </a>
      </div>
    </div>
  </section>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <section class="section section--about">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img
            src="/__static/production-webdotcom-4/534/1673534/sFhHq9Wy/9ae57d72104c4ca996b961241077ee63"
            alt="GENERAL PLUMBING"
          />
          <blockquote style="font-style: italic; margin-top: 20px">
            "Hancock Plumbing has handled all of my company and personal
            plumbing needs for 20+ years. From the smallest plumbing issues to
            complete re-pipes. Hancock Plumbing has always provided professional
            work at an affordable price. You will not be disappointed."
            <br />
            <strong>— Christopher D. in Longwood, FL</strong>
          </blockquote>
          <blockquote style="font-style: italic; margin-top: 20px">
            "The services Hancock Plumbing has provided have always exceeded my
            expectations."
            <br />
            <strong>— Stephen M. in Sanford, FL</strong>
          </blockquote>
        </div>
        <div class="col-6">
          <h2>About Hancock Plumbing in Sanford, FL</h2>

          <ul style="margin: 20px 0; padding-left: 20px; list-style: disc">
            <li>Water Heater Sales and Repair</li>
            <li>Sewer and Drain Cleaning</li>
            <li>Repiping</li>
            <li>Remodeling</li>
            <li>Toilet Repairs</li>
            <li>Fixture Replacements</li>
            <li>Commercial and Residential Repairs</li>
          </ul>

          <blockquote style="margin: 20px 0; font-style: italic">
            "We have used Hancock Plumbing for many years for all our plumbing
            problems. We have found them fair, honest, prompt and friendly
            service. We highly recommend them to anyone needing plumbing
            service."
            <br />
            <strong>— Mike &amp; Judy H. in Sanford, FL</strong>
          </blockquote>

          <div class="row" style="margin-top: 20px">
            <div class="col-3">
              <ul>
                <li>Prompt, dependable service</li>
                <li>Convenient scheduling</li>
                <li>Reasonable rates</li>
              </ul>
            </div>
            <div class="col-3">
              <ul>
                <li>
                  Courteous, well-informed plumbers who know their craft inside
                  and out
                </li>
              </ul>
            </div>
          </div>

          <p style="margin-top: 20px">
            <strong>35 + years of plumbing experience</strong>
          </p>
        </div>
      </div>

      <p style="margin-top: 30px">
        Sometimes, even the simplest of plumbing installation or repair jobs can
        quickly turn complicated. Don't take chances when Hancock Plumbing Co
        Inc is available to help. Call us today and let us handle all of your
        plumbing needs.
      </p>
    </div>
  </section>

  {% include 'reviews-heading.html' %} {% include 'testimonial-slider.html' %}
  {% include 'contact-form.html' %}

</main>
