<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" style="--font_primary: Roboto, sans-serif; --font_secondary: 'Bai Jamjuree', sans-serif; --font_complementary: 'PT Sans', serif;">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="format-detection" content="telephone=no">
  <title>{{ title }}</title>
  {% if description %}
  <meta name="description" content="{{ description }}" />{% endif %}
  <meta property="og:site_name" content="New Web Lead">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ permalink | prepend: "https://hancockplumbingco.com" | remove_last: "/" }}">
  <meta property="og:title" content="{{ title }}" />
  {% if description %}
  <meta property="og:description" content="{{ description }}" />{% endif %}
  <meta property="og:image" content="https://hancockplumbingco.com/__static/ogimage-production-webdotcom-4/534/1673534/sFhHq9Wy/e652c620c50f4a0cadce1bedc6d583f8" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:width" content="1200" />
  <meta name="twitter:url" content="{{ permalink | prepend: "https://hancockplumbingco.com" | remove_last: "/" }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title }}" />
  {% if description %}
  <meta property="twitter:description" content="{{ description }}" />{% endif %}
  <meta property="twitter:image" content="https://hancockplumbingco.com/__static/ogimage-production-webdotcom-4/534/1673534/sFhHq9Wy/e652c620c50f4a0cadce1bedc6d583f8" />
  <link href="/favicons/857e023f-98a3-419d-91e3-76f202c2402d/favicon-16x16.png" type="image/png" rel="shortcut icon" sizes="16x16">
  <link href="/favicons/857e023f-98a3-419d-91e3-76f202c2402d/favicon-32x32.png" type="image/png" rel="icon" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="/styles/857e023f-98a3-419d-91e3-76f202c2402d.css" id="global_styles">
  <link rel="stylesheet" type="text/css" href="/styles/fonts.css">
  <link rel="stylesheet" type="text/css" href="/styles/site.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9ZM8J2CRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-Y9ZM8J2CRN');
</script>

<body>

<div class="site-page template">
  {% include "header-clean.html" %}
  {{ content }}
  {% include "footer.html" %}
</div>
</body>

</html>
