<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" style="--font_primary: Roboto, sans-serif; --font_secondary: 'Bai Jamjuree', sans-serif; --font_complementary: 'PT Sans', serif;">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="format-detection" content="telephone=no">
  <title>{{ title }}</title>
  {% if description %}
  <meta name="description" content="{{ description }}" />{% endif %}
  <meta property="og:site_name" content="New Web Lead">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ permalink | prepend: base_url | remove_last: "/" }}">
  <meta property="og:title" content="{{ title }}" />
  {% if description %}
  <meta property="og:description" content="{{ description }}" />{% endif %}
  <meta property="og:image" content="{{ base_url }}/images/logo.png" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:width" content="1200" />
  <meta name="twitter:url" content="{{ permalink | prepend: base_url | remove_last: "/" }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title }}" />
  {% if description %}
  <meta property="twitter:description" content="{{ description }}" />{% endif %}
  <meta property="twitter:image" content="{{ base_url }}/images/logo.png" />
  <link href="/favicons/857e023f-98a3-419d-91e3-76f202c2402d/favicon-16x16.png" type="image/png" rel="shortcut icon" sizes="16x16">
  <link href="/favicons/857e023f-98a3-419d-91e3-76f202c2402d/favicon-32x32.png" type="image/png" rel="icon" sizes="32x32">
  {% if isProd %}
  <link rel="stylesheet" href="/styles/style.css">
  {% else %}
  <link rel="stylesheet" href="/styles/theme.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/site.css">
  {% endif %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9ZM8J2CRN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-Y9ZM8J2CRN');
  </script>
</head>

<body class="_primary-dark _secondary-light _primary_border-text-dark _primary_border-dark _secondary_border-text-dark _secondary_border-dark _primary_theme-dark _secondary_theme-dark _text_theme-dark _light-text_theme-light _theme_light-text_contrast has-scroll">

<div class="template link_06 blockquote1_style-01 blockquote2_style-02 template__fixed-header" style="padding-top: 287px;">
  {% include "header.html" %}
  {{ content }}
  {% include "footer.html" %}
</div>
<script>
  document.querySelectorAll('.nav__item_has-child').forEach(function (item) {
    var timer;
    item.addEventListener('mouseenter', function () {
      clearTimeout(timer);
      item.classList.add('is-open');
    });
    item.addEventListener('mouseleave', function () {
      timer = setTimeout(function () {
        item.classList.remove('is-open');
      }, 150);
    });
  });
</script>
</body>

</html>
