---
layout: base
hide_why_choose_intro: true
---

<main class="clean service-page">
  <section class="hero">
    <div class="section__bg section__bg--dim">
      <img
        src="/images/hero-plumbing-tools.jpg"
        alt="{{ hero_alt | default: 'Plumbing tools' }}"
      />
    </div>
    <div class="container">
      <h4 class="hero__company">Hancock Plumbing Co. Inc.</h4>
      <h1 class="hero__title">{{ hero_title }}</h1>
      <p class="hero__subtitle">
        Greater Sanford, FL, Orange &amp; Seminole Counties
      </p>
      <div class="hero__actions">
        <a href="tel:+14073223568" class="btn btn--primary">
          <svg class="icon"><use xlink:href="#icons:62151"></use></svg>
          407-322-3568
        </a>
        <a href="/services/" class="btn btn--primary">
          <svg class="icon"><use xlink:href="#icons:45865"></use></svg>
          See services
        </a>
      </div>
    </div>
  </section>

  {% include 'service-detail.html' %}

  {% unless hide_why_choose %}
    {% include 'why-choose-us.html' %}
  {% endunless %}
  {% include 'reviews-heading.html' %}
  {% include 'testimonial-slider.html' %}
  {% include 'contact-form.html' %}
</main>
